<ul class="nav nav-tabs">  
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" data-toggle="tab" href="#" routerLink="hosts">Hosts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" data-toggle="tab" href="#" routerLink="services">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" data-toggle="tab" href="#" routerLink="groups">Groups</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" data-toggle="tab" href="#" routerLink="endpoints">Endpoints</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" data-toggle="tab" href="#" routerLink="tfs">TFS</a>
  </li>
</ul>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>