<div class="row">
  <div class="col-sm-2">
    <form name="myform" #thisForm="ngForm">
      <fieldset>
        <div class="form-group">
          <label for="inputHistory">Date/time</label>         
            <select  class="form-control" name="inputHistory" [(ngModel)]="selectedItem"  (ngModelChange)="load($event)">
              <option *ngFor="let h of list | orderBy" [value]="h">{{h}}</option>
            </select>  
        </div>      
      </fieldset>
    </form>
  </div> 
</div>
<div class="row">
  <div class="col-sm-12"> 

    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-dark">
        <th>Environment</th>
        <th>Group</th>
        <th>Service/Subscription</th>
        <th>Status</th>  
      </thead>
      <tbody>
        <tr *ngFor="let result of result.results | orderBy:'environment'">
          <td>{{result.environment}}</td>
          <td>{{result.group}}</td>
          <td><a href="#" [routerLink]="['/history', result.environment, result.name]">{{result.name}}</a></td>
          <td>
            <span class="badge badge-pill badge-success" *ngIf="result.status=='Up'">Up</span>
            <span class="badge badge-pill badge-warning" *ngIf="result.status=='Unknown'">Unknown</span>
            <span class="badge badge-pill badge-danger fadingblink" *ngIf="result.status=='Down'">Down</span>
          </td>
        </tr>  
      </tbody>
    </table>
  </div>
</div>